.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
data/
!src/data
.DS_Store
src/pb/
src/grpc/autogen
.eqc
current_counterexample.eqc
.eqc-info
*coverdata
priv/ledger.db
priv/ledger.tar.gz
