{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.

{deps, [
    {lager, "3.6.7"},
    {erl_base58, "0.0.1"},
    {libp2p, ".*", {git, "https://github.com/helium/erlang-libp2p.git", {branch, "master"}}},
    {clique, ".*", {git, "https://github.com/helium/clique.git", {branch, "develop"}}}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
