{cover_enabled, true}.
{cover_excl_mods, [
    blockchain_txn_add_gateway_v1_p,
    libp2p_peer_pb,
    libp2p_ack_stream_pb,
    libp2p_gossip_pb,
    libp2p_relay_pb,
    libp2p_proxy_pb
]}.

{deps, [
    {lager, "3.6.7"},
    {erl_base58, "0.0.1"},
    {libp2p, ".*", {git, "https://github.com/helium/erlang-libp2p.git", {branch, "master"}}},
    {clique, ".*", {git, "https://github.com/helium/clique.git", {branch, "develop"}}},
    {h3, ".*", {git, "https://github.com/helium/erlang-h3.git", {branch, "master"}}}
]}.

{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    {i, "./_build/default/plugins/gpb/include"},
    warnings_as_errors
]}.

{plugins, [rebar3_gpb_plugin]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{gpb_opts, [
    {i, "src"},
    {o_erl, "src/pb"},
    {o_hrl, "src/pb"},
    {msg_name_prefix, "blockchain_"},
    {msg_name_suffix, "_pb"},
    {module_name_suffix, "_pb"},
    {strings_as_binaries, false},
    type_specs
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_function_calls,
    deprecated_functions
]}.


{profiles, [
    {test, [
        {deps, [{meck, "0.8.12"}]}
    ]}
]}.
